rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    match /announcements/{id} {
      allow read: if request.auth != null;
      allow create, update, delete:
        if request.auth.token.role == "faculty";
    }

    match /courses/{id} {
      allow read: if request.auth != null;
      allow write:
        if request.auth.token.role == "faculty";
    }
  }
}